.container {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: max-content repeat(2, 210px) 100px;
  row-gap: 10px;
}

.quizHeader {
  grid-column: 2;
  grid-row: 1;
}
.points {
  grid-column: 1;
  grid-row: 1;
}
.progress {
  grid-column: 3;
  grid-row: 1;
  justify-self: end;
}

.question {
  grid-column: 2 / 3;
  grid-row: 2;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.answerSection {
  grid-column: 2 / 3;
  grid-row: 3;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}

.buttonContainer {
  grid-column: 2;
  grid-row: 4;
  justify-self: end;
  align-self: start;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

.resultContainer {
  grid-area: 2 / 2;
  display: grid;
  grid-template-rows: max-content;
  place-content: center;
}

@media (max-width: 1200px) {
  .container {
    justify-self: stretch;
  }

  .container,
  .resultContainer {
    grid-column: 1;
  }

  .points,
  .progress {
    justify-self: center;
  }
}

@media (max-width: 900px) {
  .container {
    grid-column: 1;
    grid-row: 2;
  }

  .quizHeader {
    grid-column: 2;
  }

  .points,
  .progress {
    place-self: center;
  }

  .question {
    grid-column: 2;
  }

  .answerSection {
    grid-column: 2;
  }

  .buttonContainer {
    grid-column: 2;

    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    place-self: center;
  }
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: 0.2fr 1.6fr 0.2fr;
    grid-template-rows: max-content repeat(2, max-content) repeat(2, 210px) 100px;
  }

  .quizHeader {
    margin-bottom: 0;
  }

  .points {
    grid-column: 2;
    grid-row: 2;
    justify-self: start;
    margin: 0;
  }

  .progress {
    grid-column: 2;
    grid-row: 3;
    justify-self: start;
    margin: 0;
  }

  .question {
    grid-row: 4;
    margin: 0;
  }

  .answerSection {
    grid-row: 5;
  }

  .buttonContainer {
    grid-row: 6;
  }
}
