.container {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  /* width: 100%; */
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(2, max-content) 210px 1fr;
}

.quizHeader {
  grid-column: 2;
  grid-row: 1;
}
.points {
  grid-column: 1;
  grid-row: 1;
}
.progress {
  grid-column: 3;
  grid-row: 1;
  justify-self: end;
}

.question {
  grid-column: 2 / 3;
  grid-row: 2;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.answerSection {
  grid-column: 2 / 3;
  grid-row: 3;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}

.resultContainer {
  grid-area: 2 / 2;
  display: grid;
  grid-template-rows: max-content;
  align-items: start;
}
