.radioLabel {
  border: 2px solid #fff9e9;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
  color: #00303e;
  font-weight: bold;
}

.radio {
  opacity: 0;
}

.radio:disabled {
  cursor: not-allowed;
}

.radio:active {
  border: 2px solid #fff;
}

.buttonCorrectAnswer {
  background-color: #7aec7a;
}
