.radio {
  padding: 5px;
  background-color: #444;
  color: #fff;
  border-radius: 3px;
  border: 2px solid #444;
  font: inherit;
}

.radio:disabled {
  cursor: not-allowed;
}

.radio:active {
  border: 2px solid #fff;
}

.buttonCorrectAnswer {
  background-color: #7aec7a;
}
