.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr 100px;
  background-color: #9a28ab;
  justify-items: center;
}

.header {
  grid-row: 1;
  font-size: calc(10px + 2vmin);
  color: white;
}
