.button {
  padding: var(--trivia-unit);
  cursor: pointer;
  border-radius: var(--border-radius);
  font: inherit;
  font-weight: bold;
  color: var(--header-color);
  border: none;
}

.primary {
  background-color: var(--highlight-color);
}

.secondary {
  background-color: transparent;
  color: var(--header-color);
  box-shadow: inset 0px 0px 0px 2px var(--highlight-color);
}
