.button {
  padding: 10px;
  cursor: pointer;
  border-radius: 3px;
  font: inherit;
  font-weight: bold;
  color: #00303e;
}

.primary {
  background-color: #feb571;
  border: none;
}

.secondary {
  background-color: transparent;
  color: #00303e;
  border: 2px solid #feb571;
}

.quizNextQuestion {
  grid-column: 3;
  grid-row: 4;
  justify-self: end;
  align-self: end;
}

.quizReset {
  grid-column: 2;
  grid-row: 1;
  justify-self: start;
  align-self: start;
  margin: 5% 0;
}
