.container {
  grid-area: 2 / 2;
  justify-self: center;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content;
  gap: 5px;
}

.loading {
  grid-area: 2 / 2;
  color: var(--secondary-color);
  font-size: 2rem;
}
