.container {
  grid-area: 2 / 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content;
  gap: 5px;
}

.loading {
  grid-area: 2 / 2;
  color: #004b61;
  font-size: 2rem;
}
