.container {
  grid-area: 2 / 2;
  justify-self: center;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content;
  gap: 5px;
}

.loadingContainer {
  grid-area: 2 / 2;
}

@media (max-width: 1200px) {
  .loadingContainer,
  .container {
    grid-area: 2 / 1;
    align-self: center;
  }
}
