.selectContainer {
  position: relative;
  width: 100%;
  padding: var(--trivia-unit);
  border-bottom: 2px solid var(--secondary-color);
  font-weight: bold;
  color: var(--secondary-color);
}

.select {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
}

.select option {
  font-size: 1rem;
}
